{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["last 2 versions","ie >= 7","> 2%"],
        "android": "4.4.4"
      }
    }],
    "stage-2"
  ],
  "plugins": ["babel-polyfill"],
  "env": {
    "test": {
      "presets": ["env", "stage-2"]    }
  }
}
