{
  "presets": [
    ["env", {
      "modules": "commonjs",
      "target": {
        "browsers": ["last 2 versions","ie >= 9"],
        "android": "4.4.4"
      }
    }],
    "stage-2"
  ],
  "plugins": ["transform-runtime"],
  "env": {
    "test": {
      "presets": ["env", "stage-2"]    }
  }
}
