@import '~@/styles/base/tools.less';

#pay-view{
    .hd{
        .h(3.04rem);
        .bg(#fff);
        margin-bottom: .24rem;
        .delivery-text,
        .success-text,
        .fail-text{
            .fontSize(.42rem);
            .algin(c);
            .paddingT(.35rem);
            margin-bottom: .45rem;
        }
        .success-btn-wrap,
        .delivery-btn-wrap,
        .fail-btn-wrap{
            .algin(c);
            .mint-button{
                .reduis(20px);
                .bg(#fff);
                .w(1.78rem);
                .h(.56rem);
                .fontSize(.3rem);
                .line(.54rem);
                .color(@b-6);
                margin: 0 .41rem;
                border: 1px solid @borCol;
                box-shadow: none;
                &::after{
                    .w(100%);
                    .reduis(20px);
                }
            }
            .mint-button+.mint-button{
                border-color: @mainCol;
                .color(@mainCol);
            }
        }
        .success-btn-wrap .mint-button+.mint-button{
            border: 1px solid @borCol;
            .color(@b-6);
        }
        i{
            .iconfont;
            .color(@error);
            .fontSize(.6rem);
            .position(r);
            top: .1rem;
            margin-right: .2rem;
        }
        .delivery-text i,
        .success-text i{
            .color(#10bd38);
        }
    }
    .bd{
        .bg(#fff);
        .padding(.36rem);
        .fontSize(.3rem);
        .line(1.5);
        .color(@b-6);
        margin-bottom: .24rem;
        .text-item{
            .flex;
            margin-bottom: .1rem;
        }
        .left{
            .flex_num(4);
        }
        .right{
            .flex_num(12);
        }
    }
    .wait{
        margin-bottom: .3rem;
        .algin(c);
        .fontSize(.3rem);
        .line(1.5);
    }
    .gold{
        .color(@mainCol);
    }
    .go-index{
        .algin(c);
        margin-top: .6rem;
    }
    .goback-index{
        .reduis(20px);
        .fontSize(.3rem);
        .line(1.5);
        .h(.6rem);
        .bg(#f5f5f5);
        .color(@mainCol);
        border: 1px solid @mainCol;
        box-shadow: none;
        margin: 0 auto;
    }
}