@import url('../base/tools.less');

#search{
    .search-bar-wrapper{
        .h(.8rem);
        .bg(#fff);
        .paddingRow(.2rem);
        .flex;
        .paddingT(.14rem);
        .cancel{
            margin-left: .3rem;
            .color(@mainCol);
            .line(.56rem);
            .flex_num(1);
            .fontSize(.28rem);
        }
        &>div{
            margin-left: .1rem;
            .flex_num(9);
        }
    }
    .hot-search{
        padding-top: .42rem;
        .h(1.24rem);
        .bg(#f2f2f2);
        .flex;
        .left{
            font-weight: bold;
            .flex_num(1);
            .paddingL(.46rem);
            .fontSize(.28rem);
            .line(.52rem);
        }
        .right{
            .scroll-x(h);
            .flex_num(8);
            .line(.52rem);
            .fontSize(0);
            .tag-wrap{
                white-space: nowrap;
                .paddingR(.2rem);
                .flex;
                .scroll-x(a);
            }
            .tag{
                display: inline-block;
                border: 1px solid @borCol;
                margin-right: .2rem;
                .reduis(20px);
                .paddingRow(.2rem);
                .fontSize(.24rem);
                .line(.5rem);
                .color(@b-6);
            }
        }
    }
    .history-pannel{
        .h(~'calc(100% - .8rem - 1.24rem)');
        .bg(#fff);
        .flex-1;
        .title{
            border-top: 1px solid @borCol;
            border-bottom: 1px solid @borCol;
            .paddingL(.46rem);
            .color(@b-3);
            .fontSize(.28rem);
            .line(.68rem);
        }
        .history-wrap{
            margin-bottom: .96rem;
        }
        .history-item{
            .paddingL(.46rem);
            .color(@b-9);
            .fontSize(.24rem);
            .line(.68rem);
            border-bottom: 1px solid @borCol;
        }
        .btn-wrap{
            .algin(c);
            button{
                overflow: hidden;
                border: 1px solid @b-6;
                .h(.58rem);
                .line(.56rem);
                .fontSize(.24rem);
                .bg(#fff);
                .reduis(20px);
                .paddingRow(.5rem);
            }
        }
    }
    .sort-bar{
        input[type=radio]{
            opacity: 0;
        }
        .paddingRow(.3rem);
        .bg(#f5f5f5);
        .flex;
        .sort-item{
            .flex-1;
            .algin(c);
            .fontSize(.26rem);
            .line(.72rem);
        }
        .active{
            .color(@mainCol);
        }
        i{
            .iconfont;
            .position(r);
        }
        i:nth-of-type(1){
            top: -.1rem;
        }
        i:nth-of-type(2){
            top: -.65rem;
        }
        .sort-btn{
            .color(@b-3);
            .flex;
            .flex-dir;
            .position(a);
            .w(.32rem);
            .h(100%);
            right: .4rem;
            top: 0;
            &.top{
                i:nth-of-type(1){
                    .color(@mainCol);
                }
            }
            &.bottom{
                i:nth-of-type(2){
                    .color(@mainCol);
                }
            }
        }
    }
    .goods-list{
        .flex-1;
        .bg(#fff);
        .paddingRow(.3rem);
        .no-more{
            .color(@b-6);
            .fontSize(.28rem);
            .line(.98rem);
            .algin(c);
        }
        .goods-loading{
            .flex;
            .color(@b-6);
            .fontSize(.28rem);
            .line(.98rem);
            .algin(c);
            justify-content: center;
            &>:first-child{
                .position(r);
                top: .2rem;
                margin-right: .4rem;
            }
        }
    }
    .no-search{
        border-top: 1px solid @borCol;
        .bg(#fff);
        .h(~'calc(100% - .8rem)');
        .paddingRow(.5rem);
        .sorry-img img{
            .display(block);
            margin: .8rem auto;
        }
        .sorry{
            margin-bottom: .4rem;
            .fontSize(.32rem);
            .line(1.5);
            .gold{
                .color(@mainCol);
            }
        }
        .sorry-tip{
            .fontSize(.28rem);
            .line(1.5);
            .color(@b-9);
        }
    }
}
