@import '~@/styles/base/tools.less';
.activity{
    .ipScroll;
    .bg(#fff);
    .f5-2{
        width: 100%;
        height: .2rem;
        .bg(#f5f5f5);
    }
    .activity_name{
        padding: .33rem .3rem;
        .color(#666);
        .fontSize(.28rem);
        .flex;
        .flex-dir(row);
        .align-items;
        label{
            width: 1.5rem;
            .algin(l);
        }
        input{
            .flex-1;
            .color(#333);
            text-indent: 2;
        }
        .plus_icon{
            width: .32rem;
            height: .32rem;
            .bg(@mainCol);
            .reduis(50%);
            .color(#fff);
            .fontSize(.28rem);
            .algin(c);
            .line(.32rem);
        }
        .add_text{
            .color(#333);
            .line(1);
            margin-left: .2rem;
        }
    }
    .activityt_date{
        width: 100%;
        padding: 0 .3rem;
        .activityt_date_wrapper{
            height: .98rem;
            border-bottom: 1px solid #e5e5e5;
            .flex;
            .flex-dir(row);
            .align-items;
            .color(#666);
            .fontSize(.28rem);
            label{
                width: 1.5rem;
                .algin(l);
            }
            input{
                .flex-1;
                .color(#333);
                text-indent: 2;
            }
            i{
                width: .3rem;
                .fontSize(.24rem);
                .color(#adadad);
            }
            &.border_none{
                border: 0 none;
            }
        }
    }
    .mint-button--primary{
        .position(a);
        width: 100%;
        left: 0;
        bottom: 0;
        padding: .34rem 0;
        .bg(@mainCol);
        .reduis(0);
        z-index: 6;
        .fontSize(.3rem);
        height: auto;
    }
    .dialog{
        width: 100%;
        height: 100%;
        .bg(rgba(0,0,0,.5));
        .position(a);
        left: 0;
        bottom: -100%;
        z-index: 7;
        transition: all .3s;
        &.on{
            bottom: 0;
        }
        .dialog_wrapper{
            width: 100%;
            height: 86%;
            .position(a);
            left: 0;
            bottom: 0;
            z-index: 8;
            .bg(#fff);
            .dialog_search{
                .position(a);
                top: 0;
                left: 0;
                height: .92rem;
                width: 100%;
                z-index: 8;
                .flex;
                .justify-content;
                .flex-dir(row);
                .align-items;
                .bg(#faf8f5);
                .search_wrapper{
                    width: 5.6rem;
                    height: .6rem;
                    .flex;
                    .flex-dir(row);
                    input{
                        .flex-1;
                        border-radius: .4rem 0 0 .4rem;
                        padding: 0 .3rem;
                        border: 1px solid #e5e5e5;
                        border-right: 0 none;
                    }
                    i{
                        width: .76rem;
                        height: 100%;
                        border-radius: 0 .4rem .4rem 0;
                        .bg(@mainCol);
                        .color(#fff);
                        .line(.6rem);
                        .algin(c);
                        .fontSize(.36rem);
                    }
                }
            }
            .dialig_list{
                width: 100%;
                .position(r);
                height: 100%;
                padding: .92rem 0 .98rem;
                .bg(#fff);
                overflow: hidden;
                .dialig_list_wrapper{
                    overflow-y: auto;
                    height: 100%;
                    .ipScroll;
                    .item{
                        padding: .3rem;
                        height: 2.24rem;
                        border-bottom: 1px solid #e5e5e5;
                        .flex;
                        .flex-dir(row);
                        .align-items;
                        &.on{
                            .bg(#fffaf5);
                        }
                        .item_left{
                            width: .4rem;
                            height: 100%;
                            .flex;
                            .align-items;
                            .checkedBox{
                                width: .4rem;
                                height: .4rem;
                                .reduis(50%);
                                border: 1px solid #9b9b9b;
                                .bg(#fff);
                                &.on{
                                    background-image: url('../../assets/images/checked_bg.png');
                                    background-repeat: no-repeat;
                                    background-size: 100%;
                                    border: 0 none;
                                }
                            }
                        }
                        .item_center{
                            margin-left: .25rem;
                            width: 1.62rem;
                            height: 1.62rem;
                            .position(r);
                            overflow: hidden;
                            border: 1px solid #e5e5e5;
                            .flex;
                            img{
                                width: 100%;
                                .align-items;
                                .justify-content;
                            }
                        }
                        .item_right{
                            .flex-1;
                            padding-left: .2rem;
                            .item_text{
                                .moreLine;
                                .color(#333);
                                .fontSize(.3rem);
                                .line(1.5);

                            }
                            .item_price{
                                margin-top: .12rem;
                                .color(@mainCol);
                                .fontSize(.32rem);
                                .line(1);
                            }
                            .item_bottom{
                                .color(#999);
                                .fontSize(.24rem);
                                .line(1);
                                margin-top: .2rem;
                                .flex;
                                .flex-dir(row);
                                .justify-content(space-between);
                                span{
                                    .color(#333);
                                }
                            }
                        }
                    }
                }
            }
            .select_wrapper{
                .position(a);
                bottom: 0;
                left: 0;
                width: 100%;
                height: .98rem;
                padding-left: .3rem;
                .bg(#fafafa);
                .flex;
                .flex-dir(row);
                .align-items;
                .select_count{
                    height: 100%;
                    .flex-1;
                    .flex;
                    .flex-dir(row);
                    .align-items;
                    .checkedAll{
                        width: .4rem;
                        height: .4rem;
                        .reduis(50%);
                        border: 1px solid #9b9b9b;
                        .bg(#fff);
                        &.on{
                            background-image: url('../../assets/images/checked_bg.png');
                            background-repeat: no-repeat;
                            background-size: 100%;
                            border: 0 none;
                        }
                    }
                    .checkedNum{
                        .fontSize(.3rem);
                        .color(#666);
                        margin-left: .25rem;
                        span{
                            .color(@mainCol);
                        }
                    }
                }
                .mint-button--primary{
                    width: 3.2rem;
                    padding: 0;
                    .position(r);
                    height: 100%;
                }
            }
        }
    }
}
