@import '~@/styles/base/tools.less';
.login_wrapper{
    padding: 0 .4rem;
    .bg(#fff);
    img{
        .w(100%);
    }
    .logo_img{
        .w(3.1rem);
        margin: .6rem auto;
    }
    .mint-navbar{
        padding: 0 1.3rem;
        margin-bottom: .3rem;
        .mint-tab-item{
            padding: .15rem 0;
            .color(#999);
            &+.mint-tab-item{
                margin-left: 1rem;
            }
            .mint-tab-item-label{
                .fontSize(.3rem);
            }
        }
        .is-selected{
            border-bottom: 2px solid #f08200;
            .color(@mainTitle);
        }
    }
    .mint-button{
        height: .98rem;
        font-size: .3rem;
        color: #fff;
        .bg(#f08200);
        &.is-disabled{
            opacity: 1;
            .bg(#ddd);
        }
    }
    .btns{
        margin-top: .34rem;
        font-size: .3rem;
    }
    .illegal_popup{
        .popup_inner{
            .w(6.2rem);
            .h(2.86rem);
            .bg(#fff);
            .position(a);
            top: 50%;
            left: 50%;
            margin-top: -1.93rem;
            margin-left: -3.1rem;
            .reduis(5px);
            .algin(c);
            padding-top: .5rem;
            p{
                padding-bottom: .5rem;
                .fontSize(.32rem);
                border-bottom: 1px solid #e6e6e6;
                .line(1.5);
            }
            a{
                display: block;
                .line(.98rem);
                .fontSize(.36rem);
            }
        }
    }
    
}