@import '../../styles/base/tools.less';
.index-wrapper {
    .floor {
        max-width: 1920px;
        margin: 0 auto;
        h3{
            .fontSize(64px);
            font-weight: bold;
        }
        h4{
            .fontSize(32px);
        }
    }
    .floor1 {
        .color(#fff);
        .w(100%);
        .h(1080px);
        background: url('../../assets/img_bg01.jpg') center center; //顶部
        .top {
            padding: 16px 0;
            i {
                display: inline-block;
                background: url('../../assets/spirte.png');
                vertical-align: middle;
                margin-right: 3px;
            }
            li {
                display: inline-block;
                margin-right: 44px;
                line-height: 40px;
                .logo {
                    .w(150px);
                    .h(39px);
                    margin-left: 22px;
                    background-position: 0 -215px;
                }
                .wap {
                    .w(10px);
                    .h(15px);
                    background-position: -170px -224px;
                }
                .concern {
                    .w(20px);
                    .h(15px);
                    background-position: -188px -224px;
                }
                .we {
                    .w(21px);
                    .h(16px);
                    background-position: -217px -224px;
                }
            }
            .f_r {
                p {
                    .line(20px);
                    .fontSize(14px);
                    .align(r);
                }
                .tele {
                    font-weight: bold;
                    i {
                        .w(16px);
                        .h(16px);
                        background-position: -244px -225px;
                    }
                }
            }
        } //中间logo
        .big-logo {
            .w(674px);
            .h(172px);
            margin: 105px auto 60px;
            background: url('../../assets/spirte.png');
            background-position: 0 -30px;
        } //五大优势
        .txt-box {
            h3 {
                font-weight: bold;
                .align(c);
            }
            h4 {
                .align(c);
                margin-top: 10px;
            }
            .list-box {
                margin-top: 60px;
                li {
                    .w(25%);
                    .fl(l);
                    .align(c);
                    i {
                        display: inline-block;
                        .w(56px);
                        .h(56px);
                        background: url('../../assets/spirte.png');
                        vertical-align: middle;
                    }
                    .one {
                        background-position: -407px -225px;
                    }
                    .two {
                        background-position: -471px -225px;
                    }
                    .three {
                        background-position: -535px -225px;
                    }
                    .four {
                        background-position: -599px -225px;
                    }
                }
            }
        } //成为会员
        .become-member {
            display: block;
            .w(360px);
            .h(80px);
            .line(80px);
            .bg(#f08200);
            .color(#fff);
            .align(c);
            .fontSize(32px);
            .radius(50px);
            margin: 120px auto;
        }
    }
    .floor2 {
        .color(#fff);
        .w(100%);
        .h(1080px);
        background: url('../../assets/img_bg02.jpg') center center;
        h3 {
            .fontSize(42px);
            padding-top: 136px;
            margin-bottom: 66px;
        }
        h4 {
            .fontSize(24px);
            margin-bottom: 10px;
        }
        p {
            .fontSize(16px);
        }
        .box_l {
            .w(530px);
            li {
                .f_r {
                    .w(480px);
                }
            }
        }
        .box_r {
            .w(465px);
            li {
                .f_r {
                    .w(410px);
                }
            }
        }
        li {
            margin-bottom: 36px;
            .f_l {
                .w(40px);
                .h(40px);
                .position(r);
                top: 4px;
                background: url('../../assets/spirte.png') center center;
            }
            .icon1 {
                background-position: -663px -225px;
            }
            .icon2 {
                background-position: -711px -225px;
            }
            .icon3 {
                background-position: -759px -225px;
            }
            .icon4 {
                background-position: -807px -225px;
            }
            .icon5 {
                background-position: -855px -225px;
            }
            .icon6 {
                background-position: -903px -225px;
            }
            .icon7 {
                background-position: -951px -225px;
            }
        }
    }
    .floor3 {
        .bg(#fff);
        .h(770px);
        .cbt_wrapper {
            .bg(#fff);
            .h(730px);
            .radius(5px);
            position: relative;
            top: -110px;
        }
        .top-circle {
            padding: 40px 100px 70px;
            .cir-box {
                .fl(l);
                .align(c);
                .w(33.3%);
            }
            .cir {
                .w(120px);
                .h(120px);
                margin: 0 auto 10px;
                background: url('../../assets/spirte.png') center center no-repeat;
            }
            .circle1{
                background-position: -8px -367px; 
            }
            .circle2{
                background-position: -146px -367px; 
            }
            .circle3{
                background-position: -284px -367px; 
            }
        }
        /* 本例子css */
        .slideBox {
            width: 100%;
            height: 474px;
            margin: 0 auto;
            overflow: hidden;
            position: relative;
            .hd {
                height: 15px;
                overflow: hidden;
                position: absolute;
                right: 5px;
                bottom: 5px;
                z-index: 1;
                ul {
                    overflow: hidden;
                    zoom: 1;
                    float: left;
                    li {
                        float: left;
                        margin-right: 2px;
                        width: 15px;
                        height: 15px;
                        line-height: 14px;
                        text-align: center;
                        background: #fff;
                        cursor: pointer;
                        &.on {
                            background: #f00;
                            color: #fff;
                        }
                    }
                }
            }
            .bd {
                width: 1024px;
                margin: 0 auto;
                position: relative;
                height: 100%;
                z-index: 0;
                li {
                    zoom: 1;
                    vertical-align: middle;
                    .txt{
                        .bg(#faf9f7);
                        .w(392px);
                        .h(474px);
                        .fl(l);
                        .color(#333);
                    }
                }
                img {
                    width: 632px;
                    height: 474px;
                    display: block;
                    .fl(l);
                }
            }
            /* 下面是前/后按钮代码，如果不需要删除即可 */
            .prev,.next {
                position: absolute;
                left: 0;
                top: 50%;
                margin-top: -25px;
                display: block;
                width: 48px;
                height: 48px;
                background: url('../../assets/spirte.png') -168px -281px no-repeat;
                filter: alpha(opacity=50);
                opacity: 0.5;
                &:hover{
                    filter: alpha(opacity=100);
                    opacity: 1;
                }
            }
            .next {
                left: auto;
                right: 0;
                background-position: -224px -281px;
            }
            .prevStop{
                background-position: -280px -281px;
            }
            .nextStop {
                background-position: -336px -281px;
            }
        }
    }
    .floor4 {
        .color(#fff);
        .w(100%);
        .h(480px);
        background: url('../../assets/img_bg03.jpg') center center;
    }
    .floor5{
        .bg(#fff);
        .h(580px);
        .color(#666);
        .align(c);
        h3{
            .color(#333);
            padding-top: 80px;
            font-weight: bold;
        }
        h4{
            margin-top: 40px;
        }
        p{
            .fontSize(16px);
        }
        .wap-code{
            .w(164px);
            .h(169px);
            margin: 30px auto;
            background: url('../../assets/spirte.png') -718px -39px no-repeat;
        }
    }
    .floor6{
        .color(#fff);
        .w(100%);
        .h(1350px);
        .align(c);
        background: url('../../assets/img_bg04.jpg') center center;
        h3{
            padding-top: 90px;
            font-weight: bold;
        }
        h4{
            margin-top: 20px;
        }
        h5{
            .color(#333);
            font-weight: bold;
            .w(940px);
            .align(l);
            margin: 70px auto 35px;
            .line(1.5);
        }
        p{
            .color(#666);
            .w(940px);
            margin: 20px auto;
            .align(l);
            .line(1.5);
        }
    }
    .floor7{
        .color(#fff);
        .w(100%);
        .h(1080px);
        .align(c);
        background: url('../../assets/img_bg05.jpg') center center;
        h3{
            padding-top: 95px;
        }
        h4{
            margin-top: 30px;
        }
        p{
            .color(#666);
            .w(940px);
            margin: 20px auto;
            .align(l);
            .line(1.5);
        }
    }
}